/*
This game is based upon a black-and-white color scheme
1. the welcome section has preominantly a white background and a black colored test
2. the page to select an opponent has predominantly a black background and a white colored text
3. the page with the game has predominantly a white background and a black colored text
*/
body
{
	text-align: center;
	background-color: white;
	color: seagreen;
	height: 100%;
}
/*-----------------------------------------------------------------------------------------------------------THE GAMING SECTION-----------*/
/*this section primarily remains hidden but gets revealed and scrolled into when the button to it is pressed, hides again on outgoing*/
#board
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	margin-top: 10%;
	margin-bottom: 10%;
}
.gameblock
{
	border-left: 2px solid seagreen;
	border-right: 2px solid seagreen;
	border-top: 2px solid seagreen;
	border-bottom: 2px solid seagreen;
	box-shadow: 0px 0px 100px seagreen;
	background-color: transparent;
}
.action
{
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: 2px dotted seagreen;
	font-size: 500%;
	color: transparent;
}
#key
{
	font-size: 150%;
	margin-bottom: 2%;
}
#now_play
{
	font-size: 200%;
	color: seagreen;
	text-shadow: 0px 0px 50px lightgreen;
	margin-top: 2%;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*now we define the invisible elements !*/
.next
{
	width: 50%;
	padding: 2%;
	font-size: 200%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5%;
	margin-top: 5%;
	background-color: transparent;
	border-radius: 100px;
	border: 2px solid seagreen;
	color: seagreen;
}
.next:hover
{
	background-color: seagreen;
	color: white;
}
#utilities
{
	display: none;
	background-color: transparent;
	text-align: center;
	width: 100%;
	height: 100%;
}
.links
{
	padding: 2%;
	font-size: 200%;
	background-color: white;
	font-weight: bold;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	color: seagreen;
	background-color: transparent;
}
.links:hover
{
	background-color: seagreen;
	color: white;
}
/*----------------------------------------------------------------------------------------------------------------------------------------*/
/*NOW WE DEFINE THE MESSAGE TO BE DISPLAYED ON TOP OF THE SCREEN*/
#message
{
	font-size: 200%;
	margin-top: 10%;
	color: seagreen;
	margin-bottom: 10%;
}
#winner
{
	font-size: 200%;
	margin-top: 2%;
	margin-bottom: 2%;
	color: seagreen;
	font-weight: bold;
}
#computer_player
{
	color: seagreen;
	border: none;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	display: none;
}
/*now we go on to the buttons defining specifications for the computer as a simple player*/
.simple_gamer_computer
{
	font-size: 200%;
	color: white;
	background-color: seagreen;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 10%;
	border-color: transparent;
	border-radius: 100px;
}
.simple_gamer_computer:hover
{
	background-color: white;
	color: seagreen;
}
#player_choice_simple
{
	background-color: seagreen;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	display: none;
}
/*now we go on to the buttons defining specifications for the computer as a complex player*/
.complex_gamer_computer
{
	font-size: 200%;
	color: white;
	background-color: seagreen;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 10%;
	border-color: transparent;
	border-radius: 100px;
}
.complex_gamer_computer:hover
{
	background-color: white;
	color: seagreen;
}
#player_choice_complex
{
	background-color: seagreen;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	display: none;
}